{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/jsx-runtime",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "airbnb",
    "prettier"
  ],
  "parserOptions": {
    "maVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "arrow-body-style": ["error", "as-needed"]
  }
}
